# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Outputs
outputs/model/*.pkl
outputs/model/*.joblib

# =========================
# Data (IMPORTANT)
# =========================

# Ignore all XLSXs in data/
data/*.xlsx

# But allow the data folder and this specific public file
!data/
!data/dataframe.xlsx

# Jupyter
.ipynb_checkpoints/
*_ESP.ipynb

# Local files
*.xlsx