# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Outputs
outputs/model/*.pkl
outputs/model/*.joblib

# =========================
# Data (IMPORTANT)
# =========================

# Ignore only the original/private dataset
data/dataframe_original_H7.xlsx

# Jupyter
.ipynb_checkpoints/
*_ESP.ipynb

